:root {
    --primary: #060417;
    --green: #159b48;
    --primary-light: #caf8ca;
    --light-blue: #F6F7F8;
    --dark:#000000;
    --grey:#F3F3F3;
    --dark-grey:#4F4F4F;
    --light-grey:#d3d3d3;
    --glass-bg:rgba( 255, 255, 255, 0.25 );
    --secondary: var(--secondary);
    --linear-gradient: linear-gradient(86.86deg, #249D49 0%, #00742F 53%, #13893C 106.85%);
    --navbarHeight: 70px;
}
.hw-main-section{
    min-height: 100vh;
    height: 100%;
    background: var(--Primary-Black, #000);
    color: #FFF;
}

h3{
  line-height: 1.5;
}
.xui-line-height-3 {
  line-height: 3rem;
}
.grascope-navbar{
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 24px -3px #0003;
  position: fixed;
  width: 90%;
  top: 20px;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50px;
}
.xui-navbar[menu="2"] .links .main{
    left: 150%;
}

.xui-navbar .main ul li a{
    color: #FFF;
}
.xui-navbar .links ul li a.contact{
    padding: .5rem 1rem !important;
}
.xui-btn, .xui-btn-block {
  padding: 1.2em 1.5em!important;
}

.active-link{
    font-weight: 600;
}
.home-heading .learn-more{
    background: transparent;
    padding: .5rem .5rem .5rem 1rem;
    border: 1px solid #FFF;
}

.contact-input::placeholder{
    color: #FFF;
}
.gradient-btn {
  position: relative;
  /* padding: 0.6rem 0.6rem 0.6rem 1.2rem; */
  border: none;
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  box-shadow: 0 4px 24px -3px #0003;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /* border-radius: 2rem; */
  color: #fff;
  z-index: 1;
}
.gradient-btn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #159b48;
  mix-blend-mode: overlay;
  opacity: .2;
  border-radius: inherit;
  z-index: -1;
}
.bg-gradient2{
  background: linear-gradient(111.85deg, rgba(253, 253, 253, 0.3) 5.74%, rgba(253, 253, 253, 0.2) 68.32%);
  --webkit-backdrop-filter: blur(40px) box-shadow: 0px 4px 24px -3px #00000033;
}
.white-gradient {
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 24px -3px #0003;
}
.xui-flex-ai-self-end{
  align-items: self-end;
}
.xui-flex-ai-self-start{
  align-items: self-start;
}
.active-identity{
  color: #737373;
}
#home{
    min-height: 100vh;
}
.header-swiper{
    height: 100vh;
}
.header-slider{
    /* position: absolute; */
    /* width: 100%;
    bottom: 50px;
    left: 0;
    z-index: 1; */
    overflow: hidden;
}
.footer-input-email-holder{
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-left: 16px;
    /* padding-right: 12px; */
    display: flex;
    min-width: 160px;
    line-height: 20px;
    color: var(--fgColor-default,var(--color-fg-default,#000));
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 1.5rem;
    outline: none;
    box-shadow: var(--shadow-inset,var(--color-primer-shadow-inset,0 0 transparent));
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 32px;
    overflow: hidden;
}
.footer-input-email-holder span{
    align-self: center;
    color: var(--fgColor-muted,var(--color-fg-muted,#848d97));
    flex-shrink: 0;
    margin-right: 8px;
    display: flex;
}
.footer-input-email-holder input{
    margin-right: 8px;
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    appearance: none;
    color: inherit;
    width: 100%;
    outline: none;
}
.footer-input-email-holder .footer-input-email-btn{
    width: 220px;
    height: 40px;
    background-color: var(--green);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    outline: none;
}
.gbx-thank-you-modal .xui-modal-content{
    background-color: #000 !important;
}
.xui-line-height-2-half{
    line-height: 4.2rem;
}
.header-swiper .xui-overlay-1{
    background-color: rgba(0,0,0,.3);
}
  .header-slider-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  
  .header-slider{
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1rem;
  }
  
.header-swiper2{
    overflow: visible !important;
}
.font-sz-18{
  font-size: 18px;
}
.font-sz-19{
  font-size: 19px;
}
.xui-opacity-7{
  opacity: .7 !important;
}
  /* Default state before animation */
.home-heading .header-heading,
.home-heading .header-paragraph,
.home-heading .header-btn1,
.home-heading .header-btn2 {
    transform: translateY(100px);
    opacity: 0;
    filter: blur(20px);
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Animation when .scroll-up is added */
.home-heading.scroll-up .header-heading {
    animation: scrollUp 1s linear forwards;
    animation-delay: 0.1s;
}

.home-heading.scroll-up .header-paragraph {
    animation: scrollUp 1s ease-in-out forwards;
    animation-delay: 0.2s;
}

.home-heading.scroll-up .header-btn1 {
    animation: scrollUp 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

.home-heading.scroll-up .header-btn2 {
    animation: scrollUp 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes scrollUp {
    from {
        transform: translateY(100px);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

  /* Default state before animation */
.home-heading2 .header2-sub-heading,
.home-heading2 .header2-heading,
.home-heading2 .header2-paragraph,
.home-heading2 .header2-btn{
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(20px);
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Animation when .scroll-up is added */
.home-heading2.scroll-up .header2-sub-heading {
    animation: scrollBottom 1s linear forwards;
    animation-delay: 0.1s;
}
.home-heading2.scroll-up .header2-heading {
    animation: scrollBottom 1s linear forwards;
    animation-delay: 0.2s;
}

.home-heading2.scroll-up .header2-paragraph {
    animation: scrollBottom 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

.home-heading2.scroll-up .header2-btn {
    animation: scrollBottom 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes scrollBottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Default state before animation */
.home-heading3 .header3-sub-heading,
.home-heading3 .header3-heading,
.home-heading3 .header3-paragraph,
.home-heading3 .header3-btn{
    transform: translateX(-100px);
    opacity: 0;
    filter: blur(20px);
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Animation when .scroll-up is added */
.home-heading3.scroll-up .header3-sub-heading {
    animation: scrollLeft 1s linear forwards;
    animation-delay: 0.1s;
}
.home-heading3.scroll-up .header3-heading {
    animation: scrollLeft 1s linear forwards;
    animation-delay: 0.2s;
}

.home-heading3.scroll-up .header3-paragraph {
    animation: scrollLeft 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

.home-heading3.scroll-up .header3-btn {
    animation: scrollLeft 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes scrollLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}


.it-heading::before{
  position: absolute;
  content: "";

}
.xui-w-120{
    width: 120px;
}
.chevrons button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #FFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-pagination{
    height: 2px;
}
.custom-bullet{
    opacity: .5;
    width: 25%;
}
.custom-bullet.active-bullet{
    opacity: 1;
}
.header-swiper2{
    margin: 0 !important;
}
  
  
@keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease forwards; /* Add this */
  }  

.hsd-loader-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: var(--blue-light);
}
.hsd-loader-screen .hsd-loader-holder {
    margin-top: 16px;
    width: 100%;
    height: 4px;
    background-color: hsl(220, 52%, 15%);
    position: relative;
    overflow: hidden;
}
.xui-bg-none{
    background: none;
    border: none;
    outline: none;
  }
  .search-keyword{
    border: 1.5px solid #D9D9D9
  }
.hsd-loader-screen .hsd-loader-holder .hsd-loader-anime {
    width: 72px;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    animation-name: loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-timing-function: linear;
}
@keyframes loader {
    from {
        left: -72px;
    }
    to {
        left: 200px;
    }
}

  /* Ensure all slides are in the same position */
.slider-container {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 2rem;
}
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px); /* Slide effect */
    visibility: hidden; /* Hide non-active slides */
  }
  
  .active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Show active slide */
  }
  
  .inactive {
    opacity: 0;
    transform: translateY(20px); /* Slide inactive slides slightly down */
    visibility: hidden;
  }
  .it-service-left, .it-service-right{
    width: 42.3%;
  }
  .line-animate-holder{
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .line-animate-holder .line-animate{
    width: 2px;
    height: 100%;
    background: #737373;
    position: relative;

  }
  
  .line-animate-holder span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #737373;
    display: inline-block;
    position: absolute;
    right: 50%;
    transform: translate(50%);
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeInUp 1s ease-in-out;
    opacity: 1;
  }
  
  .opacity-30 {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
  }
  
  
  .xui-navbar .menu span{
    background-color: #FFF;
}

@media screen and (max-width: 768px) {
    .xui-line-height-2-half{
        line-height: 2.8rem;
    }
    .image-container {
        flex-direction: column;
        max-width: 2000px;
        width: 100%;
        height: 400px;
      }
    
      .image-container .image {
        width: 100%;
        height: 60px;
        transition: height 0.5s ease-in-out;
      }
    
      .image-container .image img {
        width: 100%;
        height: 100%;
      }
    
      .image-container .active {
        height: 400px;
      }
      .image-container .image:not(.active) span:nth-child(1) {
        transform: scale(1);
        white-space: nowrap;
      }
      .image-container .image:not(.active) {
        height: 300px;
      }
      .image-container .image:not(.active) .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
      }
      .image-container .image.active {
        height: 900px;
      }
      .image-container{
        height: 700px;
      }
      .image-container .image.active .content-container {
        display: flex;
        flex-direction: column;
      }
      .active-link{
        border-radius: 0px 3px 3px 3px;
        background: rgba(51, 51, 51, 0.50);
        display: inline-block !important;
        width: 150px !important;
        border-left: 4px solid var(--green);
        opacity: 1 !important;
    }
    .xui-navbar .main ul li a{
        opacity: .6;
    }
    .about-holder{
        flex-direction: column-reverse;
    }
    .anonymous-img::before{
        display: none;
    }
    .anonymous-img > div{
        width: 30px;
        height: 30px;
    }
    .anonymous-img > div svg{
        width: 12px;
    }
    .extra-link{
        display: inline-block !important;
    }
    .image-container .image:not(.active) span:first-of-type::before {
      width: 80px;
      height: 70px;
      top: -10px;
      left: 10px;
  }
    
}
@media (min-width: 1024px) and (max-width: 1024px) {
  /* Styles here will apply only at exactly 768px */
  .header-slider {
    /* Add your custom styles */
    width: 65%;
  }
}
