:root {
    --primary: #060417;
    --green: #159b48;
    --primary-light: #caf8ca;
    --light-blue: #F6F7F8;
    --dark:#000000;
    --grey:#F3F3F3;
    --dark-grey:#4F4F4F;
    --light-grey:#d3d3d3;
    --glass-bg:rgba( 255, 255, 255, 0.25 );
    --secondary: var(--secondary);
    --linear-gradient: linear-gradient(86.86deg, #249D49 0%, #00742F 53%, #13893C 106.85%);
    --navbarHeight: 70px;
}
.hw-main-section{
    min-height: 100vh;
    height: 100%;
    background: var(--Primary-Black, #000);
    color: #FFF;
}

h3{
  line-height: 1.5;
}
.xui-line-height-3 {
  line-height: 3rem;
}
.grascope-navbar{
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 24px -3px #0003;
  position: fixed;
  width: 90%;
  top: 20px;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50px;
}
.xui-navbar[menu="2"] .links .main{
    left: 150%;
}

.xui-navbar .main ul li a{
    color: #FFF;
}
.xui-btn, .xui-btn-block {
  padding: 1.2em 1.5em!important;
}

.xui-navbar .links ul li a.active{
    font-weight: 600;
}

.contact-input::placeholder{
    color: #FFF;
}
.gradient-btn {
  position: relative;
  /* padding: 0.6rem 0.6rem 0.6rem 1.2rem; */
  border: none;
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  box-shadow: 0 4px 24px -3px #0003;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /* border-radius: 2rem; */
  color: #fff;
  z-index: 1;
}
.gradient-btn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #159b48;
  mix-blend-mode: overlay;
  opacity: .2;
  border-radius: inherit;
  z-index: -1;
}
.bg-gradient2{
  background: linear-gradient(111.85deg, rgba(253, 253, 253, 0.3) 5.74%, rgba(253, 253, 253, 0.2) 68.32%);
  --webkit-backdrop-filter: blur(40px) box-shadow: 0px 4px 24px -3px #00000033;
}
.white-gradient {
  background: linear-gradient(111.85deg,#fdfdfd4d 5.74%,#fdfdfd33 68.32%);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 24px -3px #0003;
}
.xui-flex-ai-self-end{
  align-items: self-end;
}
.xui-flex-ai-self-start{
  align-items: self-start;
}
.active-identity{
  color: #737373;
}
/* HOME HEADER SWIPER */
.swiper-container{
    height: 100vh;
    position: relative;
}
.swiper-container .main-swiper,
.swiper-container .main-swiper .swiper-slide,
.swiper-container .main-swiper .swiper-slide .slide-content{
  height: 100%;
}
.thumb-swiper{
  width: 600px;
  right: 0;
  margin: 0;
  position: absolute !important;
  bottom: 20px;
}
.swiper-container .main-swiper .swiper-slide .slide-content{
  padding-top: 8rem;
}
.custom-swiper-navigation{
  position: absolute;
  right: 50px;
  bottom: 200px;
  z-index: 2;
  width: 550px;
}
.home-heading .header-heading,
.home-heading .header-paragraph,
.home-heading .header-btn1,
.home-heading .header-btn2,
.home-heading2 .header2-sub-heading,
.home-heading2 .header2-heading,
.home-heading2 .header2-paragraph,
.home-heading2 .header2-btn,
.home-heading3 .header3-sub-heading,
.home-heading3 .header3-heading,
.home-heading3 .header3-paragraph,
.home-heading3 .header3-btn {
    opacity: 0;
    filter: blur(20px);
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Different transform states */
.home-heading .header-heading,
.home-heading .header-paragraph,
.home-heading .header-btn1,
.home-heading .header-btn2 {
    transform: translateY(100px);
}

.home-heading2 .header2-sub-heading,
.home-heading2 .header2-heading,
.home-heading2 .header2-paragraph,
.home-heading2 .header2-btn {
    transform: translateY(-100px);
}

.home-heading3 .header3-sub-heading,
.home-heading3 .header3-heading,
.home-heading3 .header3-paragraph,
.home-heading3 .header3-btn {
    transform: translateX(-100px);
}

/* Scroll-up animation */
.home-heading.scroll-up .header-heading,
.home-heading2.scroll-up .header2-sub-heading,
.home-heading3.scroll-up .header3-sub-heading {
    animation: scrollEffect 1s linear forwards 0.1s;
}

.home-heading.scroll-up .header-paragraph,
.home-heading2.scroll-up .header2-heading,
.home-heading3.scroll-up .header3-heading {
    animation: scrollEffect 1s linear forwards 0.2s;
}

.home-heading.scroll-up .header-btn1,
.home-heading2.scroll-up .header2-paragraph,
.home-heading3.scroll-up .header3-paragraph {
    animation: scrollEffect 1s ease-in-out forwards 0.4s;
}

.home-heading.scroll-up .header-btn2,
.home-heading2.scroll-up .header2-btn,
.home-heading3.scroll-up .header3-btn {
    animation: scrollEffect 1s ease-in-out forwards 0.6s;
}

/* Keyframes for animation */
@keyframes scrollEffect {
    from {
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translate(0);
        opacity: 1;
        filter: blur(0);
    }
}

.footer-input-email-holder{
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-left: 16px;
    /* padding-right: 12px; */
    display: flex;
    min-width: 160px;
    line-height: 20px;
    color: var(--fgColor-default,var(--color-fg-default,#000));
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 1.5rem;
    outline: none;
    box-shadow: var(--shadow-inset,var(--color-primer-shadow-inset,0 0 transparent));
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 32px;
    overflow: hidden;
}
.footer-input-email-holder span{
    align-self: center;
    color: var(--fgColor-muted,var(--color-fg-muted,#848d97));
    flex-shrink: 0;
    margin-right: 8px;
    display: flex;
}
.footer-input-email-holder input{
    margin-right: 8px;
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    appearance: none;
    color: inherit;
    width: 100%;
    outline: none;
}
.footer-input-email-holder .footer-input-email-btn{
    width: 220px;
    height: 40px;
    background-color: var(--green);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    outline: none;
}
.gbx-thank-you-modal .xui-modal-content{
    background-color: #000 !important;
}


.it-heading::before{
  position: absolute;
  content: "";

} 
  
@keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease forwards; /* Add this */
  }  

.hsd-loader-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: var(--blue-light);
}
.hsd-loader-screen .hsd-loader-holder {
    margin-top: 16px;
    width: 100%;
    height: 4px;
    background-color: hsl(220, 52%, 15%);
    position: relative;
    overflow: hidden;
}
.xui-bg-none{
    background: none;
    border: none;
    outline: none;
  }
  .search-keyword{
    border: 1.5px solid #D9D9D9
  }
.hsd-loader-screen .hsd-loader-holder .hsd-loader-anime {
    width: 72px;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    animation-name: loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-timing-function: linear;
}
@keyframes loader {
    from {
        left: -72px;
    }
    to {
        left: 200px;
    }
}

  /* Ensure all slides are in the same position */
.bpo-slider-container {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 2rem;
}
  
.bpo-slider-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateY(20px); /* Slide effect */
  visibility: hidden; /* Hide non-active slides */
}
  
.bpo-slider-container .slide.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Show active slide */
}
  
.bpo-slider-container .slide.inactive {
  opacity: 0;
  transform: translateY(20px); /* Slide inactive slides slightly down */
  visibility: hidden;
}

.it-service-left,
.it-service-right {
  width: 42.3%;
}

.line-animate-holder {
  width: 10%;
  display: flex;
  justify-content: center;
  height: 900px;
  position: relative;
}

.line-animate-holder .line-animate {
  width: 2px;
  background: #737373;
  position: relative;
}

.line-animate-holder .line-animate .line-progress {
  position: absolute;
  width: 100%;
  background-color: #FFF;
  transition: height .5s ease-in-out;
}

/* Circle Indicators */
.line-animate-holder span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #737373;
  border: 2px solid #737373;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 1s ease-in-out;
}

.line-animate-holder span:nth-child(2) { top: 90px; }
.line-animate-holder span:nth-child(3) { top: 316px; }
.line-animate-holder span:nth-child(4) { top: 542px; }
.line-animate-holder span:nth-child(5) { top: 765px; }

.filled-circle {
  background-color: #FFF !important;
  border: 2px solid #FFF !important;
}

/* Active and Inactive Service Styles */
.it-service.active-service {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.it-service.inactive-service {
  opacity: 0.3;
}
.contact-section label{
  position:relative;
  display: block;
  height: 100%;
}
.contact-section input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(45%);
}  

.contact-section input, .contact-section textarea{
  width:100%;
  height: 70px;
  padding:15px 15px;
  /* margin-top:20px; */
  border:none;
  outline:none;
  background-color: #1E1E1E;
  color: #FFF;
  border-radius: .5rem;
}
.contact-section textarea{
  height: 300px;
}
.contact-section input:-webkit-autofill, input:-webkit-autofill:focus input:-webkit-autofill, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus{
  background-color: #1E1E1E !important;
  -webkit-text-fill-color: #FFF
}
.contact-section input::placeholder{
  opacity:0;
}
.contact-section-form-grp span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  /* transform: translateY(30px); */
  transition-duration: 300ms;
  color: #737373;
  font-weight: 500;
}

.contact-section label:focus-within > span,
.contact-section input:not(:placeholder-shown) + span{
  transform:translateY(-58px);
}
  
  .xui-navbar .menu span{
    background-color: #FFF;
}

@media screen and (max-width: 1024px) {
  /* Styles here will apply only at exactly 768px */
  .header-slider {
    /* Add your custom styles */
    width: 65%;
  }
  .grascope-navbar{
    width: 100%;
    top: 0;
    border-radius: 0;
  }
  .thumb-swiper{
    display: none !important;
  }
  .xui-line-height-2-half{
    line-height: 2.8rem;
  }
  .xui-navbar[layout="1"] .links .main, .xui-navbar[layout="2"] .links .main{
    background-color: #141416;
  }

  .xui-navbar .links ul li a.active{
    border-radius: 0px 3px 3px 3px;
    background: rgba(51, 51, 51, 0.50);
    display: inline-block !important;
    width: 150px !important;
    border-left: 4px solid #FFF;
    opacity: 1 !important;
}
.xui-navbar .main ul li a{
    opacity: .6;
}
.about-holder{
    flex-direction: column-reverse;
}
.anonymous-img::before{
    display: none;
}
.anonymous-img > div{
    width: 30px;
    height: 30px;
}
.anonymous-img > div svg{
    width: 12px;
}
.extra-link{
    display: inline-block !important;
}
.image-container .image:not(.active) span:first-of-type::before {
  width: 80px;
  height: 70px;
  top: -10px;
  left: 10px;
}
}
