
:root {
    --primary: #060417;
    --primary-light: #caf8ca;
    --light-blue: #F6F7F8;
    --dark:#000000;
    --grey:#F3F3F3;
    --dark-grey:#4F4F4F;
    --light-grey:#d3d3d3;
    --glass-bg:rgba( 255, 255, 255, 0.25 );
    --secondary: var(--secondary);
}
.primary{
    background-color: var(--primary);
}
.primary-color{
    color: var(--secondary);
}
.glass-bg{
    background: rgba( 106, 101, 101, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.xui-overlay-1{
    background-color: rgba(0,0,0,.3);
}
.light-grey{
    background-color: var(--light-grey);
}
.border-secondary{
    border-bottom: 3px solid var(--secondary);
}
.secondary{
    background-color: var(--secondary);
}
.secondary-border{
    border: 1px solid var(--secondary);
}
body{
    transition: .1s ease;
}
.dark__mode{
    background-color: var(--primary) !important;
    color: #fff;
}
.light__mode{
    background-color: #fff !important;
    color: #000;
}
.hw-nav{
    background-color: rgba(0,0,0, .1);
    position: fixed;
    top: 0;
    left: 0;
}

.font-spaceGrotesk {
    font-family: 'Space Grotesk', sans-serif;
}
.intro-slider{
    min-height: 100vh;
    height: 100%;
    padding: 2.5rem;
    background-color: var(--primary);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    letter-spacing: -0.01em;
}
.tabs span{
    transition: .6s ease;
}
.intro-slider h1{
    font-size: 250%;
}
.header-section{
    /* background-color: var(--primary); */
    /* display: flex; */
    /* align-items: center; */
    position: relative;
    z-index: 1;
}
.header-left, .header-right{
    width: 300px;;
}
.header-middle{
    width: calc(100% - 600px);
    border-radius: 1rem;
}
.services-section, .management-section{
    position: relative;
    z-index: 1;
    /* background-color: var(--primary); */
}
.offer{
    transition: .4s ease;
}
.offer svg{
    fill: var(--secondary);
}
.offer svg path,
.offer svg polygon{
    stroke: var(--secondary);
}
.offer:hover{
    background-color: var(--secondary);
    border-radius: .5rem;
}
.light__mode .offer:hover{
    color: #fff;
}
.offer:hover svg path,
.offer:hover svg polygon{
    stroke: #fff;
}

/* .header-section::after,
.header-section::before{
    content: "";
    width: 18.125rem;
    height: 18.125rem;
    border-radius: 28.125rem;
    background: var(--secondary);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}
.light__mode .header-section::after,
.light__mode .header-section::before{
    content: "";
    width: 18.125rem;
    height: 18.125rem;
    border-radius: 28.125rem;
    background: var(--secondary);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
} */
.header-left h3{
    position: absolute;
    width: 600px;
    top: 0;
    margin: 0;
}
h1,h2,h3{
    margin: 0;
}
.solution{
    top: 200px;
    left: 100px;
    border: 1px solid #FFF;
}
.solution2{
    top: 300px;
    left: 300px;
}
.header-left-contents{
    margin-top: 16rem;
}
.bpo{
    border: 1px solid #d3d3d3;
    padding: 1rem;
    margin-top: 1rem;
    transition: .6s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: .5rem;
}
.bpo:hover{
    background-color: var(--secondary);
    color: #fff;
}
.bpo:hover svg, .bpo:hover svg path{
    fill: #fff;
    stroke: #fff;
}

.mini-companies-holder{
    /* width: 100%; */
    bottom: 30px;
    left: 100px;
}
.mini-companies{
    border: 3px solid #FFF;
}
.mini-companies:nth-child(2), .mini-companies:nth-child(3), .mini-companies:nth-child(4){
    margin-left: -1rem;
}
.portfolio-circle {
    top: 10px;
    position: relative;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .4s ease;
    border: 9px solid #fff;
    background-color: var(--primary);
}  
.portfolio-circle-holder{
    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
}
@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
}
.arrow-down{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 0.5rem 10px;
    grid-gap: 0.5rem;
    border-radius: 5rem;
}
.word-background {
    display: inline-block;
    background-color: #FFF;
    padding: 14px 54px 24px 0;
    border-bottom-right-radius: 1rem;
  }
  .dark__mode .word-background{
    background-color: var(--primary);
    color: #FFF;
  }
  /* .word-background::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    right: -48px;
    top: -2px;
    background: white;
    border-radius: 0.8rem;
  } */
.hw-footer{
    background-color: #fff;
    color: #000;
}
.light__mode .hw-footer{
    background-color: var(--primary);
    color: #fff;
}
.footer-holder > div.footer-links-holder a{
    display: block;
    margin-top: 2rem;
    font-size: 80%;
    color: #000;
    text-decoration: none;
}
.light__mode .footer-holder > div a{
    color: #fff;
}
.block-picker{
    width: initial !important;
    margin: 2rem auto;
}
.palette-sidebar{
    background-color: var(--primary);
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: 300px;
    z-index: 9;
    top: var(--navbarHeight);
    right: -150%;
    transition: .6s ease;
}
.open-palette{
    right: 0;
}
.light__mode .palette-sidebar{
    background-color: #fff;
}
.header-section::after {
    top: 35rem;
    left: -5rem;
}
.header-section::before{
    bottom: 2rem;
    right: 0rem;
}
.light__mode .header-section::before{
    bottom: 8rem;
}
.team{
    display: block;
    text-decoration: none;
}
/* .services-section::after{
    content: "";
    width: 8.125rem;
    height: 10.125rem;
    border-radius: 18.125rem;
    background: var(--secondary);
    position: absolute;
    z-index: -1;
    filter: blur(145px);
}
.light__mode .services-section::after{
    content: "";
    width: 10.125rem;
    height: 10.125rem;
    border-radius: 18.125rem;
    background: var(--secondary);
    position: absolute;
    z-index: -1;
    filter: blur(145px);
} */
.xui-navbar[layout="2"] .links{
    justify-content: inherit !important;
}
.company-scroller {
    width: 100%;
    overflow: hidden;
    background-color: var(--accent-color-100);
    margin-top: 1rem;
}
.company-wrapper {
    display: -webkit-inline-box;
    grid-gap: 1rem;
}
.company-scroll-item img{
    filter: invert(1);
}
.company-scroll-section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
    grid-gap: 1rem;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
.services-section::after{
    top: 5rem;
    left: 5rem;
}
.alpha-nav-auth-holder li{
    height: var(--navbarHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}
.management-img{
    overflow: hidden;
}
.management-img img{
    transition: .4s ease;
    width: 100%;
    border-radius: .5rem;
}
.management-img:hover img{
    transform: scale(1.2);
}

.swiper{
    overflow: hidden !important;
}
.swiper-wrapper{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 15px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--secondary);
    transition: .5s ease
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 30px;
}
.light__mode .swiper-button-next, .swiper-button-prev {
    border: 1px solid #000;
}
.swiper-button-next, .swiper-button-prev{
    top: 42px !important;
    right: 0 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50px;
    border: 1px solid lightgray;
    background-color: var(--main-color);
}

.swiper-button-prev{
    top: 42px !important;
    right: 50px !important;
    left: initial !important;
}
.light__mode .swiper-button-next:after, .light__mode .swiper-button-prev::after {
    color: #000 !important;
}
.swiper-button-next:after, .swiper-button-prev::after{
    color: #fff;
    font-size: 12px !important;
}

.xui-navbar .menu span{
    background-color: #fff;
}
.light__mode .xui-navbar .menu span{
    background-color: #000 !important;
}

.companies-section-heading{
    width: calc(100% - 500px);
}

.gg-spinner {
    transform: scale(var(--ggs,1));
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); */
   }
   
.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
}

.gg-spinner::after,
.gg-spinner::before {
    content: "";
    position: absolute;
    border-radius: 100px;
}

.gg-spinner::before {
    animation: spinner 1s
    cubic-bezier(.6,0,.4,1) infinite;
    border: 4px solid var(--secondary);
    border-top-color: currentColor;
}

.gg-spinner::after {
    border: 3px solid;
    opacity: .2
}
.loader{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;
}
.contact-btn{
    display: none !important;
}
.companies-mobile{
    display: none !important;
}
.companies-desktop{
    display: inline-flex !important;
}

@keyframes spinner {
0% { transform: rotate(0deg) }
to { transform: rotate(359deg) }
} 
@media screen and (max-width: 913px) {
    .companies-mobile{
        display: inline-flex !important;
    }
    .companies-desktop{
        display: none !important;
    }
    .contact-btn{
        display: block !important;
    }
    .companies-section-heading{
        width: 100%;
    }
    .team p {
        width: 100px;
    }
    .light__mode .xui-navbar .links .main ul li a{
        color: #fff;
    }
    .xui-navbar .menu.animate span{
        background-color: #fff !important;
    }
    /* .xui-navbar .links ul li a{
        display: none;
    } */
}